body
{
    background-size: cover;
    background-position: center;
}
.heading
{
    font-size: 23px;
    width:100%;
    margin: 0;
}
.heading h3{
    float:left;
}
.heading button{
    font-size: 20px;
    float:right;
    border-width: 7px;
    border-color: white;
}
#startbtn, #status
{
    font-size: 17px;
}